        body
        {
            background-color: #ECECEC;
        }
        .container-fluid
        {
            padding-top: 15%;
        }

        .btn-primary
        {
            margin: 15px 0;
        }
        .capitalize
        {
            text-transform: capitalize;
        }

        #contenedor-registro
        {
            display: none;
        }


        .close-btn
        {
            color: #007bff; 
            text-align: right; 
            position: absolute; 
            cursor: pointer; 
            top: 5px; 
            right: 25px; 
            font-weight: 700;
        }